.body {
    height:100vh;
    display: flex;
    justify-content: center;
  
}

.big-container {
    width: 100%;
    margin-top: 110px;
}



.subContainer {
    height: auto;
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
}


.input {
    width: 250px;
    height: 45px;
    border: none;
    box-shadow: 0px 2px 5px gray;
    outline: none;
    text-align: center;
    pointer-events: none;
     border-radius: 5px;
}

.messageBox {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

textarea {
    border: none;
    box-shadow: 0px 2px 5px gray;
    outline: none;
    padding: 10px;
    border-radius: 5px;

}

h2 {
    text-align: center;


}

.btn-div {
    margin-top: 8px;
    display: flex;
    justify-content: center;

}

@media screen and (max-width:767px) {
    .big-container {
        width: 100%;
        margin-top: 80px;
    }

    .subContainer {
        margin-top: 20px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .input {
        font-size: 18px;
        width: 300px;
        margin-top: 10px;
    }

}