<div class="heading-image">
    <div class="img-content">
        <h1 id="h1-content">View And Share Recipes</h1>
    </div>
</div>
<div class="img-second">
    <img src="/assets/2.jpg" id="img2">
</div>
<h1 id="heading-recipes">All Categories Of Recipes</h1>
<div class="home-recipes">
    <div class="home-recipes-container">
        <div><img src="/assets/dinner1.jpg" width="250px" height="250px"></div>
        <div><img src="/assets/dinner2.jpg" width="250px" height="250px"></div>
        <div><img src="/assets/snack1.jpeg" width="250px" height="250px"></div>
        <div><img src="/assets/soup.jpeg" width="250px" height="250px"></div>
        <div><img src="/assets/dinner3.jpeg" width="250px" height="250px"></div>
        <div><img src="/assets/snack2.jpg" width="250px" height="250px"></div>
    </div>
</div>
<div class="home-btn">
<button class="btn btn-primary" (click)="getRecipes()">Recipes</button>
</div>
<footer>
    <div class="footer">
<div>
    <h3>Recipe Sharing</h3>
</div>
<div>
    <a routerLink="/contact">Contact Us</a>
</div>
    </div>
</footer>